<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <img src="/assets/logomarca/logo.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content  color="primary" class="ion-padding">
<form [formGroup]="validations_form" (ngSubmit)="formLogin()">
      <ion-item color="primary">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

 
      <ion-item color="primary">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>

     <div class="esqueceu">
      <span>Esqueceu a senha? <a href="">clique aqui.</a></span>
    </div>
      

      <ion-button class="submit-btn ion-text-right" expand="block" type="submit" >
        Acessar
        <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>


    
  </form>
  
</ion-content>